* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html, body {
    height: 100%; /* Высота экрана */
    display: flex;
    width: 100%;
    max-width: 393px; 
    background-color: #b7b7b7;
  }

  .tasks-panel {
    display: flex;
    margin-top: 0px;
    background-color: #E8E7E7;
    width: 393px;
    height: 64px;  
  }
  
  
.back-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: 10px;
}

.back-icon{
  transform: rotate(90deg);
  margin-left: 10px;
}
  
  .tasks-panel-h1{
    font-size: 18px;
    font-weight: 600;
    font-family: Inter;
    line-height: 21px;
    width: 155px;
    height: 21px;
    padding-left: 12px;
    color: black;
    margin-left: 12px;
    margin-right: 32px;
    margin-top: 21px;
    margin-bottom: 22px;
  }
  
  .type-event{
    width: 138px;
    height: 38px;
    padding: 10px 0px 0px 0px;
    gap: 32px;
    border-radius: 8px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background-color: #E8E7E7;
    margin-left: 0px;
    margin-right: 56px;
    margin-top: 13px;
    margin-bottom: 13px;
    padding-left: 9px;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 15px;
    pointer-events: none;
    color: black;
  }
  
  select {
    background-color:#E8E7E7; 
    color: initial;          
  }
  
  #mySelect option:first-child {
    color: gray !important;
  }
  
  /*
  .hidden-choise{
    color: #818181;
    font-family: Inter;
    font-size: 151px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  */
  .type-event-item{
    color: black;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  
.list-tasks {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 393px;
  height: 564px; 
  background-color: white;
  padding-top: 20px; 
}

.name-event {
  width: 368px;
  height: 46px; 
  padding: 12px 0px 12px 24px;
  gap: 10px;
  border-radius: 16px;
  background-color: white;
  margin-top: 24px;
  margin-left: 12px;
  margin-right: 12px;
  color: black;
  border: 1px solid gray;
}

/* Поле для Описания */
.desc-event {
  width: 368px;
    height:126px;
    max-width: 368px;
    max-height: 126px;
    min-width: 368px;
    min-height: 126px;
    gap: 10px;
    opacity: 0px;
    padding: 12px 0px 12px 24px;
    border-radius: 16px;
    background-color:white;
    margin-top: 32px;
    margin-left: 12px;
    margin-right: 12px;
    color:black;
    border: 1px solid gray;
}
.date-event{
  display: flex;
  flex-direction: row;
  width: 368px;
  height: 41px;
  gap: 16px;
  opacity: 0px;
  background-color: #ffffff;
  margin-top: 32px;
  margin-left: 12px;
  margin-right: 12px;
}

.start-and-finish-time-block{
  display: flex;
  flex-direction: row;
  width: 368px;
  height: 41px;
  margin-top: 32px;
  margin-left: 12px;
  margin-right: 12px;
  padding-left: 0px;
  gap: 7px;
}

.added-calendar{
   margin-top: 15px;
}

.watch{
  width: 23.33px;
  height: 23.33px;
  margin-left: 2px;
  margin-top: 9px;
  margin-right: 12px;
  left: 0px;
}

  .day-task{
    width: 93px;
    height: 18px;
    gap: 0px;
    opacity: 0px;
    margin-top: 11px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #111828;
    color: #ffffff;
    border-bottom: 1px solid white;
  }

  .white-text{
    color: black;
    margin-top: 11px;
    margin-right: 16px;
    padding: 0px;
    border-bottom: 1px solid black;
    font-size: 16px; /* Установите нужный размер шрифта */
    line-height: 1.5em;
  }

.date-span {
    white-space: nowrap; /* Предотвращает перенос строки */
}

  .start-event-time{
    width: 66px;
    height: 41px;
    padding: 10px ;
    gap: 10px;
    border-radius: 4px;
    opacity: 0px;
    background-color: rgba(255, 162, 0, 0.296);
    color:rgb(245, 155, 0);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    margin: 0px;
  }

  .finish-event-time{
    width: 66px;
    height: 41px;
    padding: 10px ;
    gap: 10px;
    border-radius: 4px;
    opacity: 0px;
    background-color: rgba(255, 162, 0, 0.296);
    color:rgb(245, 155, 0);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    margin-right: 27px;
  }

  .tire{
    color: black;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 0px;
    padding: 0px;
  }
  
  .notification{
    display: flex;
    flex-direction: row;
    width: 368px;
    height: 28px;
    opacity: 0px;
    margin-top: 32px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .notification-bell{
    width: 22.17px;
    height: 23.33px;
    margin-left: 4px;
    margin-top: 2px;
    margin-right: 17px;
  }

  .Za{
    width: 28px;
    height: 21px;
    color:black;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 4px;
    margin-right: 32px;
  }

  .time-input-container {
    display: flex;
    width: 93px;
    align-items: center;
    gap: 5px; 
    border-bottom: 1px solid black;
}

.minutes-label {
  white-space: nowrap; 
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: black;
    margin-top: 4.5px;
    margin-bottom: 4px;
    width: 63px;
    height: 18px;
}

  .time-notification{
    width: 100px;
    height: 18px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: black;
    margin-top: 4.5px;
    margin-bottom: 4px;
    /*margin-right: 201px;*/
    background-color: white;
    /*border-bottom: 1px solid white;*/
  }

  .number-time-event{
    max-width: 35px;
}
  .bottom-nav {
    display: flex;
    justify-content: space-between;
    width: 393px;
    height: 66px;
    position: absolute;
    background-color: white;
    margin: 0;             
  }
  
.footer{
  display: flex;
  justify-content: space-between;
  width: 393px;
  height: 48px;
  position: absolute;
  background-color: white;
  margin-top: 66px;     
}


.yellow-button{
  display: flex;
  width: 380px;
  height: 40px;
  padding: 4px 0px 0px 0px;
  gap: 10px;
  border-radius: 8px;
  opacity: 0px;
  background-color: #FCBC02;
  margin-top:0px;
  margin-right: 7px;
  margin-left: 7px;
}

.plus{
  width: 18px;
  height: 18px;
  margin-left: 73px;
  margin-right: 0px;
  margin-top: 8px;
  margin-bottom: 14px;
}

.button-add-task{
  color: white;
  width: 228px;
  height: 21px;
  margin-top: 6px;
  margin-bottom: 8px;
  margin-right: 30px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
}