* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    background-color: #8e8e8e;
    overflow: hidden; 
  }
  
  .header-1{
    left: 0;
    width: 100%; 
    max-width: 393px;
  }
  
  .footer-1{
      position: fixed;
      bottom: 0;
      width: 100%;
      max-width: 393px;
      height: 114px; 
      z-index: 10; /
  }

  .tasks-panel{
    display: flex;  
    justify-content: center; 
    align-items: center;  
    background-color: #E8E7E7;                    
    height: 64px; 
  }
  
  .tasks-panel-h1{
    font-size: 24px;
    font-weight: 600;
    font-family: Inter, sans-serif;
    color: black;
    text-align: center;
    width: calc(100% - 40px);
  }
  
  .tasks-panel-img{
    padding-right: 12px;
  }
  
  .list-tasks{
    position: fixed; 
    top: 64px; 
    bottom: 114px;
    left: 0; 
    width: 100%; 
    max-width: 393px; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 24px; 
    overflow-y: auto; 
    overflow-x: hidden; 
    background-color: white;  
    padding: 12px 0;  
  }
  
  .task-card {
    display: flex;
    gap: 12px;
    align-items: center;
    width: 332px;
    height: 100px;
    border-radius: 16px;
    opacity: 0px;
    background-color: white;
    margin-top: 24px;
    border: 1px solid gray;
  }
  
  .main-block{
    display: flex;
    flex-direction: column; 
    width: 280px;
    height: 80px; 
    gap: 25px;
    opacity: 0px;
    margin-left: 8px;
  }
  
  .info-title{
    display: flex;
    align-items: center;
    width: 280px;
    height: 18.75px;
    gap: 8px;
    opacity: 0px;
  }
  
  .name-task{
    font-size: 16px;
    font-weight: 500;
    color: black;
  }
  
  .chip-list{
    display: flex;
    justify-content: space-between;
    width: 280px;
    height: 20px;
    gap: 10px;
    opacity: 0px;
  }
  
  
.dd-block{
  padding: 4px;
} 

  .list-tags {
    display: flex; 
    gap: 4px; 
  }
  
  .list-tags-item {
    background-color: yellow;
  font-size: 12px;
  padding: 0 6px;
  line-height: 20px;
  white-space: nowrap;

  height: 20px; 
  box-sizing: border-box; 
  border-radius: 32px;
  text-align: center; 
  }
  
  
.deadline {
  font-size: 12px;
  color: #000000;
  margin-top: 4px;
}

  .checker-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;

    width: 24px;
    height: 64px;
    opacity: 0px;
  }
  
  .is-done{
    padding-left: 2px ;
    padding-right: 4px ;
    padding-top: 6px ;
    padding-bottom: 6px ;
    margin-top: -6px;
    cursor: pointer;
  }
  
  .delete{
    padding-left: 4px ;
    padding-right: 4px ;
    padding-top: 3px ;
    padding-bottom: 3px ;
    margin-top: 14px;
    cursor: pointer;
  }
  
  /*
  .bottom-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    background-color: #E8E7E7;
    margin: 0;         
  }*/
  .bottom-nav {
    display: flex;
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
    gap: 10px; /* Задаём расстояние между элементами */
    height: 66px;
    background-color: #E8E7E7;
    margin: 0;
  }

  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 60px;
    border-radius: 16px;
    background-color: white;
  }
  /*
.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 122px;
  height: 100%;
}
*/
.nav-item-1{
  width: 120px;
  height: 60px;
  padding: 10px;
  gap: 0px;
  border-radius: 16px;
  background-color: white;
  opacity: 0px;
  /*margin-left: 63.5px;
  margin-right: 26px;
  margin-top: 3px;
  margin-bottom: 3px;*/
  /*margin-left: 25px;*/
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-top: 13px;
}

.nav-item-2{
  width: 120px;
  height: 60px;
  padding: 10px;
  gap: 0px;
  border-radius: 16px;
  background-color: white;
  opacity: 0px;
  /*margin-left: 63.5px;  
  margin-top: 3px;
  margin-bottom: 3px;*/
  margin-left: 25px;
  padding-left: 33px;
  padding-right: 33px;
  padding-bottom: 10px;
  padding-top: 13px;
}
/****/
.nav-item-1-txt {
  margin-top: 5px;
  margin-bottom: 13px;
}

.nav-item-1-txt,
.nav-item-2-txt {
  font-size: 12px;
  color: gray;
}

  .nav-item-2-txt {
    color: rgb(0, 0, 0);
  }
  
  
  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    background-color: #E8E7E7;     
  }
  
  
  .yellow-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 380px;
    height: 40px;
    border-radius: 8px;
    background-color: #FCBC02;
    text-decoration: none;
  }

  .plus{
    width: 18px;
    height: 18px;
  }

  
  .button-add-task{
    color: white;
    width: 216px;
    height: 21px;
  }

  .calendar{
    color: #fff;
    margin-right: 48px;
    margin-left: 48px;
    margin-top: 10px;
  }
  
  .split-screen{
    margin-right: 48px;
    margin-left: 48px;
  }
  
  .image {
    margin-bottom: 10px; 
  }
  
  .p-tag {
    text-align: left;
  }
  
    
  .a-none-decorat {
    text-decoration: none; 
    color: inherit; 
  }

  .a-none-decorat:focus,
  .a-none-decorat:hover,
  .a-none-decorat:active {
    outline: none; 
    text-decoration: none; 
  }
    
  
@media (max-width: 393px) {
  .tasks-panel-h1 {
    font-size: 20px;
  }

  .list-tags-item {
    font-size: 10px;
    padding: 0 4px;
  }

  .yellow-button {
    width: calc(100% - 14px);
  }

  .name-task {
    font-size: 14px;
  }

  .deadline {
    font-size: 10px;
  }
}

.a-block{
  height: 30px;
}