
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    overflow: hidden;
  }


.header-1{
  left: 0;
  width: 100%;
  max-width: 393px;
  margin-top: 0px;/*NDB*/
}

.footer-1{
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 393px;
  height: 114px; 
  z-index: 10;
}

.scroll-box{
  display: flex;
  flex-direction: row;
  width: 393px;
  /*height: 564px;*/
  overflow-y: auto; 
  color: white;
}

#datePicker {
  display: block; 
  height: 18px; 
  font-size: 12px; 
  padding: 0; 
  margin-top: 30px;
  margin-left: -15px;
  border: 1px solid #ccc; 
  border-radius: 4px; 
}

.time-box{
  display: flex;
  flex-direction: column;
  height: 1882px;
  width: 88px;
  background-color: #111828;
  color: gray;
  border-right: 1px solid gray;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.time-box-elem{
  width: 42px;
  height: 18px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: gray;
  padding: 0px;
  margin-top: 60px;
  margin-right: 12px;
  margin-left: 12px;
}

.time-box-elem-1{
  width: 42px;
  height: 18px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: gray;
  padding: 0px;
  margin-top: 70px;
  margin-right: 12px;
  margin-left: 12px;
}


.empty-blocks{
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 1882px;
  width: 305px;
  background-color: #111828;
  color: gray;
  border: 1px solid gray;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
}

.empty-blocks-elem{
  height: 78px;
  width: 305px;
  border: 1px solid gray;
}

.event-in-calendar{
  position: relative;
  width: 154px;
  height: 34px;
  padding:0px;
  border-radius: 8px;
  opacity: 0px;
  background-color: #FCBC02;
  color: black;
  padding: 8px;
  margin: 0px;
  margin-left: 15px;
  margin-top: 61px;
  z-index: 9999;
}

.tasks-panel {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  background-color: #26334A;
  width: 393px;
  height: 64px;
}


.tasks-panel-h1 {
  font-size: 24px;
  font-weight: 600;
  font-family: Inter, sans-serif;
  color: #FCFAEE;
  text-align: center;
  width: calc(100% - 40px);
}

  .date-icon{
    display: flex;
    flex-direction: column;
    width: 32px;
    height: 52px;
    padding: 0px;
    gap: 8px;
    opacity: 0px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 12px;
    margin-right: 32px;
  }

  /*.date-picker{
      position: relative;
  }

  .datepicker--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
*/

  .day-week{
    color: #FCBC02;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 1px;
    margin-right: 6px;
    margin-left: 6px;
    margin-bottom: 0px;
  }

  .circle{
    width: 24px;
    height: 24px;
    background-color: #FCBC02; 
    border-radius: 50%; 
    margin-top: 0px;
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: 1px;
    padding-left: 3.5px;
    padding-right: 3.5px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .day-number{
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .tasks-panel-h1{
    font-size: 24px;
    font-weight: 600;
    font-family: Inter;
    line-height: 26px;
    text-align: center;
    width: 103px;
    height: 26px;
    padding: 0px;
    color: #FCFAEE;
    margin-top: 19px;
    margin-bottom: 19px;
    margin-right: 60px;
  }
  
  .tasks-panel-img{  
    margin-right: 37px;/*15*/
    margin-top: 22px;
    margin-bottom: 22px;
    width: 20px;
    height: 20px;
    opacity: 0px;
    margin:0px;
    background-color:#26334A;
    background:#26334A;
    padding: 0px;
    text-align: left;
  }

  
  .list-tasks{
    position: fixed; 
  top: 64px; 
  bottom: 114px;
  left: 0; 
  width: 100%; 
  max-width: 393px; 
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 24px; 
  overflow-y: auto; 
  overflow-x: hidden; 
  background-color: #111828; 
  padding: 12px 0;  
  }

  .button-calendar{
    margin-right: 30px;/*8*/
    margin-top: 28px;
    margin-bottom: 16px;
    width: 14px;
    height: 16px;
    background-color: #26334A;
    color:#26334A;
    border: 0px;
  }
  
  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    width: 100%;
  }

  .calendar{
    color: #fff;
    margin-right: 48px;
    margin-left: 48px;
    margin-top: 10px;
  }
  
  .split-screen{
    margin-right: 48px;
    margin-left: 48px;
    margin-top: 10px;
  }

.nav-item-0-txt,
.nav-item-1-txt,
.nav-item-2-txt {
  font-size: 12px;
  color: gray;
}

.nav-item-1-txt {
  color: white;
}

  .bottom-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    background-color: #26334A;       
  }
  
  .footer{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  background-color: #111828;     
  }
  
  
  .yellow-button{
    display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 380px;
  height: 40px;
  border-radius: 8px;
  background-color: #FCBC02;
  text-decoration: none;
  }
  
  .a-none-decorat{
    text-decoration: none; 
    color: inherit;
  }

.a-none-decorat:focus,
.a-none-decorat:hover,
.a-none-decorat:active {
  outline: none; 
  text-decoration: none;
}
  
  .plus{
    width: 18px;
    height: 18px;
  }
  
  .button-add-task{
    color: white;
  width: 216px;
  height: 21px;
  }

@media (max-width: 393px) {
  .tasks-panel-h1 {
    font-size: 20px;
  }

  .list-tags-item {
    font-size: 10px;
    padding: 0 4px;
  }

  .yellow-button {
    width: calc(100% - 14px);
  }

}
