/* === CSS VARIABLES === */
:root {
  --font-family: Spectral, serif;
  --toggle-thumb: #ffffff;
  --nav-inactive-color: gray;
  --border-radius: 8px;
  --transition: 0.1s;
}

[data-theme="light"] {
  --body-bg: #a4a4a4;
  --header-footer-bg: #E8E7E7;
  --content-bg: #ffffff;
  --text-color: #000000;
  --border-color: rgb(0, 0, 0);
  --theme-block-bg: #E8E7E7;
  --notification-btn-bg: #E8E7E7;
  --nav-active-color: #000000;
  --footer-bg: #ffffff;
}

[data-theme="dark"] {
  --body-bg: #111828;
  --content-bg: #111828;
  --text-color: #FCFAEE;
  --border-color: gray;
  --theme-block-bg: #26334A;
  --notification-btn-bg: #26334A;
  --nav-active-color: white;
  --footer-bg: #111828;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--body-bg);
  overflow: hidden;
}

.header-1 {
  left: 0;
  width: 100%;
}

.tasks-panel {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-block-bg);
  height: 64px;
}

.tasks-panel-h1 {
  font-size: 24px;
  font-weight: 600;
  font-family: var(--font-family);
  color: var(--text-color);
  text-align: center;
  width: calc(100% - 40px);
}

#search-input {
  display: none;
  margin: 0 10px;
  width: 150px;
  height: 30px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

#search-btn {
  cursor: pointer;
  border: none;
  background: none;
}

.tasks-panel-img {
  margin-right: 12px;
}

.list-tasks {
  position: fixed;
  top: 64px;
  bottom: 114px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--content-bg);
  padding: 12px 0;
}

.task-card {
  display: flex;
  gap: 12px;
  align-items: center;
  width: 332px;
  height: 100px;
  border-radius: 16px;
  opacity: 0px;
  background-color: var(--theme-block-bg);
  margin-top: 24px;
}

.delete-window {
  position: fixed;
  top: 50%;
  left: 187.5px;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E8E7E7;
  width: 332px;
  height: 200px;
  border-radius: 16px;
  padding: 30px;
}

.hidden {
  display: none;
}

.confirm {
  color: white;
  font-size: 16px;
  margin-top: 15px;
  margin-left: 54.5px;
  margin-right: 54.5px;
  margin-bottom: 20px;
}

.buttons-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.confirm-true {
  background-color: #00811c;
  color: black;
  border-radius: 16px;
  padding: 10px 20px;
  font-size: 16px;
}

.confirm-false {
  background-color: #bb433a;
  color: black;
  border-radius: 16px;
  padding: 10px 20px;
  font-size: 16px;
}

.main-block {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 80px;
  gap: 25px;
  opacity: 0px;
  margin-left: 8px;
}

.info-title {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 280px;
  height: 18.75px;
  opacity: 0px;
}

.name-task {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
}

.chip-list {
  display: flex;
  justify-content: space-between;
  width: 280px;
  height: 20px;
  gap: 10px;
  opacity: 0px;
}

.list-tags {
  display: flex;
  gap: 4px;
}

.list-tags-item {
  background-color: yellow;
  font-size: 12px;
  padding: 0 6px;
  line-height: 20px;
  white-space: nowrap;
  height: 20px;
  box-sizing: border-box;
  border-radius: 32px;
  text-align: center;
}

.deadline,
.margin-deadline {
  font-size: 12px;
  color: var(--text-color);
  margin-top: 4px;
}

.margin-deadline {
  margin-top: 10px;
}

.checker-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 64px;
  width: 24px;
  opacity: 0px;
}

.is-done,
.delete {
  padding: 6px 4px;
  cursor: pointer;
}

.delete {
  margin-top: 5px;
}

.footer-1 {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 114px;
  z-index: 10;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  background-color: var(--footer-bg);
}

.bottom-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 66px;
  background-color: var(--notification-btn-bg);
  padding: 0 12.725vw;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  width: 100%;
}

.nav-item-0-txt,
.nav-item-1-txt,
.nav-item-2-txt {
  font-size: 12px;
  color: var(--nav-inactive-color);
}

.nav-item-2-txt {
  color: var(--nav-active-color);
}

.yellow-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 90%;
  height: 40px;
  border-radius: var(--border-radius);
  background-color: #FCBC02;
  text-decoration: none;
  margin: 0 5%;
}

.plus {
  width: 18px;
  height: 18px;
}

.button-add-task {
  color: white;
  width: 216px;
  height: 21px;
}

.a-none-decorat,
.a-none-decorat:focus,
.a-none-decorat:hover,
.a-none-decorat:active {
  text-decoration: none;
  width: 90%;
  margin: 0 5%;
  outline: none;
}

.a-none-decorat {
  color: inherit;
}

.split-screen,
.calendar,
.tune {
  margin-right: 25.45vw;
}

.split-screen:last-child,
.calendar:last-child,
.tune:last-child {
  margin-right: 0;
}

@media (max-width: 393px) {
  .tasks-panel-h1 {
    font-size: 20px;
  }

  .list-tags-item {
    font-size: 10px;
    padding: 0 4px;
  }

  .yellow-button {
    width: calc(100% - 14px);
  }

  .name-task {
    font-size: 14px;
  }

  .deadline {
    font-size: 10px;
  }
}